<html>
<head>

</head>
<%- include('./includes/head.ejs') %>
<body>

    <div class="container"action="/verMedicamentos" method="POST">
        <p class="text-center">10 ALIMENTOS PROHIBIDOS</p>
    </br>
    
    <p class="text-left"><strong> QUESOS MOHOSOS </strong><br> Los quesos azules, como el azul danés, el gorgonzola y el roquefor. Estos son menos ácidos y húmedos lo que los convierte en un medio de cultivo ideal para bacterias dañinas. </p>
    <p class="text-left"><strong>HUEVOS </strong> <br> Una embarazada no puede consumir huevos crudos ni ligeramente cocidos porque pueden estar contaminados con salmonela. </p>
    <p class="text-left"><strong> CARNE POCO COCIDA </strong><br> La carne cruda o poco hecha es peligrosa en el embarazo debido al riesgo potencial de contraer toxoplasmosis.  </p>
    <p class="text-left"><strong> PATE DE HIGADO  </strong><br> El paté de hígado y otros alimentos que contienen este órgano son demasiado ricos en vitamina A. Un exceso puede dañar al bebé. </p>
    <p class="text-left"><strong> PESCADO AZUL GRANDE </strong><br>El atún rojo, el pez espada (emperador), el cazón Y el lucio son especies de pescado graso que pueden contener un dosis peligrosa de mercurio, un metal pesado tóxico para las neuronas. </p>
    <p class="text-left"><strong> MARISCO CRUDO</strong><br> Las otras y otras especies de marisco que se comen crudas pueden intoxicarte con bacterias y virus dañinos. </p>
    <p class="text-left"><strong> CAFEINA</strong><br> La cafeína se absorbe rápidamente y llega hasta la placenta y el feto, que no dispone de las enzimas necesarias para metabolizarla. </p>
    <p class="text-left"><strong>GERMINADOS</strong> <br> Existe la posibilidad de que en los germinados de soja, alfalfa y otros se desarrolle la salmonela. Por lo que las embarazadas no deben consumirlos crudos. </p>
    <p class="text-left"><strong> ALCOHOL</strong><br> El alcohol puede provocar síndrome de alcoholismo fetal, que conlleva deformidades faciales, defectos en el corazón y retraso mental. </p>
    <p class="text-left"><strong> ALIMENTOS PREOCESADOS</strong><br>Los azúcares que se añaden a los platos preparados, la bollería industrial o los refrescos multiplican el riesgo de sufrir obesidad y diabetes gestacional. </p>
    <hr>
    <p class="text-center">10 ALIMENTOS RECOMENDADOS</p>
    <p class="text-justify"><strong> PESCADO AZUL</strong><br>El pescado azul es rico en grasas esenciales que son elementales para el desarrollo del sistema nervioso del bebé y para el desarrollo de los ojos y la vista. Reduce los riesgos de un parto prematuro.</p>
    <p class="text-justify"><strong> AGUA</strong><br>Tomar mucha agua ayuda a producir liquido amniótico y la sangre extra que necesita tu cuerpo durante el embarazo. También ayuda a reducir el riesgo de infecciones urinarias y de la retención del liquido.</p>
    <p class="text-justify"><strong>BANANAS</strong> <br>Las bananas tienen muchas fibras, ácido fólico y vitaminas C que ayudan a tu sistema inmunológico. También tienen muchos nutrientes como el triptofano(ayuda a dormir),el potasio( ayuda con la retención de liquidos y calambres). </p>
    <p class="text-justify"><strong>MANZANAS </strong><br>Las manzanas son una importante fuente de vitaminas C y E. Éstas protejen los pulmones.</p>
    <p class="text-justify"><strong>LECHE</strong> <br>Los productos lácteos son la principal fuente calcio de los huesos de tu bebé. </p>
    <p class="text-justify"><strong>FRUTOS SECOS</strong> <br>Los frutos secos son una importante fuente de proteínas y energía para tu cuerpo. Ayudan al desarrollo de tu bebé. ¡Atención! Si hay en tu familia antecedentes de alergias evitá estos alimentos. </p>
    <p class="text-justify"><strong>CEREALES Y LEGUMBRES</strong><br>Ayudan a mantener el nivel de azúcar en tu sangre y evitan los bajones de energía. </p>
    <p class="text-justify"><strong>CARNE ROJA </strong><br>El volumen de tu sangre creece durante el embarazo,  las células rojas que transportan el oxígeno están más diluidas. Por eso, la carne roja es la mejor fuente de hierro. </p>
    <p class="text-justify"><strong>VERDURAS</strong><br>El ácido fólico es esencial durante el embarazo para evitar la espina bífida. La mejor fuente son las verduras como el brócoli, la coliflor, los rabanitos y otras verduras.</p>
    <p class="text-justify"><strong>CHOCOLATE</strong><br>El chocolate tiene muchas grasas y azúcar pero puede comerse con moderación dentro de una alimentación saludable. </p>  
    <hr>


    <p class="text-center">COMBATIR PRINCIPALES MOLESTIAS DEL EMBARAZO</p>
    <p class="text-justify"><strong>MAREOS</strong><br>-Comer algo en la cama, antes de ponerse de pie.<br>-Comer poco pero a menudo, unas 6 o 7 veces al día.<br>-Evitar las bebidas que contienen cafeína como el té, el café y las bebidas de cola.
        <br>-Comer alimentos que aporten hidratos de carbono en todas las comidas. Puede ser en forma de pan, pasta, arroz, patata, legumbres, cereales o fruta.</p>
    <p class="text-justify"><strong>NAUSEAS Y VOMITOS</strong><br>-Tomar infusiones de menta, comino o zumo de piña.<br>-Tomar de primer plato en la comida y en la cena patata, pasta o arroz hervidos y con un poco de aceite de oliva.<br>-Elegir verduras que sean fáciles de digerir como el calabacín, la calabaza, la zanahoria y la judía verde.
        <br>-Evitar las frutas cítricas como el zumo de naranja.</p>
    <p class="text-justify"><strong>ACIDEZ O REFLUJO</strong><br>-Evitar la fruta en ayunas y como postre.<br>-Evitar alimentos ácidos y picantes: vinagre, limón, pimentón, etc.<br>-Evitar los productos integrales o que contengan mucha cantidad de fibra.
        <br>-Evitar estar más de 3 horas sin ingerir alimentos</p>
    <p class="text-justify"><strong>ESTREÑIMIENTO</strong><br>-Caminar y hacer ejercicio físico.<br>-Beber agua e infusiones o caldos durante todo el día. Llegar a los 2 litros en total.<br>-Tomar alimentos integrales, como el pan, todos los días.
        <br>-Tomar yogures con bífido-bacterias.</p>
    <p class="text-justify"><strong>CALAMBRES MUSCULARES</strong><br>-Alimentos ricos en vitaminas del grupo B, como cereales, legumbres, carne, pescado, huevos o lácteos.
        <br>-Alimentos ricos en magnesio, como frutos secos, legumbres, frutas desecadas, plátanos o verduras de hoja verde (espinacas, acelgas).</p>
    <p class="text-justify"><strong>INSOMNIO</strong><br>-Cenar pronto y ligero. Por lo menos 2 horas antes de acostarse evitando sofritos y fritos.<br>-Consumir alimentos que aporten triptófano: huevos, pollo, jamón o pescado azul y beber un vaso de leche caliente antes de acostarse.
        <br>-Eliminar de la alimentación el café, el chocolate, el té, las bebidas de cola, el mate, el guaraná y el ginseng.</p>
        
    
    </div>
    
</body>