<html>
<head>

</head>
<%- include('./includes/head.ejs') %>
<body>

    <div class="container"action="/comunicarEmbarazo" method="POST">
        <p class="text-center">¿DEBO COMUNICAR EL EMBARAZO A MI EMPRESA?</p>
        <p class="text-justify">No hay una obligación legal de comunicar el embarazo a la empresa. Estrictamente, la legislación laboral no contempla ninguna mención acerca de la obligatoriedad de notificar sobre este hecho personal y privado de la mujer.</p>
        <p class="text-justify">No obstante, la recomendación generalizada es la de comunicar a la empresa tu embarazo para que ésta pueda organizarse de cara a reemplazar tu puesto en la baja maternal. Eres tú quien debe valorar si es mejor comunicarlo o no, según la relación que tengas con tus jefes, los planes que tengas para cuando nazca el bebé y otras circunstancias personales.</p>
        <hr>

        <p class="text-center">¿EN QUE CASOS DEBERA NOTIFICARLO?</p>
        <p class="text-justify">A la hora de valorar si deberías o no comunicar a tu empresa que estás embarazada, debes tener en cuenta algunos puntos relevantes de tu nueva situación y cómo afectará tu trabajo en ella. Lo más importante pasa a ser tu bebé, por tanto es importante que lo notifiques cuanto antes a la empresa si:</p>
        <p class="text-justify">Tu trabajo supone un riesgo para el bebé: si el desempeño de tus funciones habituales podría ser peligroso para tu bebé debes comunicarlo cuanto antes para tomar las medidas más adecuadas. Por ejemplo, si la madre trabaja en una planta de tratamiento químico o en un servicio de Rayos-X. Si el puesto de trabajo que se desempeña no es compatible con el embarazo, la empresa deberá hacer una mejora en la prevención de riesgos laborales, si es necesario un cambio de puesto de trabajo que no tenga riesgos para el feto y la madre.</p>
        <p class="text-justify">Ausencias para revisiones médicas: el seguimiento del embarazo requiere controles prenatales periódicos y preparación al parto para los que deberás pedir permiso en el trabajo. Debe haber una comunicación expresa a la empresa sobre estas ausencias continuadas en el puesto de trabajo.</p>
        <hr>

        <p class="text-center">¿CUANDO NOTIFICARLO?</p>
        <p class="text-justify">El mejor momento para hacerlo es una decisión que depende de una variedad de circunstancias personales y laborales, por tanto, al no haber obligatoriedad legal, tampoco hay un momento específico para hacerlo.</p>
        <p class="text-justify">Hay mujeres que prefieren esperar a que pase el primer trimestre para notificarlo debido al mayor riesgo de pérdida que suele haber en las primeras semanas de embarazo. Pero claro, si tu puesto supone un riesgo para tu bebé deberás hacerlo antes, ya que precisamente las primeras semanas de gestación suelen ser las más vulnerables a radiaciones y otros peligros para el feto.</p>
        <p class="text-justify">Tampoco deberías esperar demasiado para notificarlo, ya que por un lado la tripita comenzará a notarse y siempre es mejor que esas tú quién lo notifique a que tus jefes se enteren por terceras personas. Por otro lado, ten en cuenta que la empresa tiene que disponer de un tiempo prudente para buscar un reemplazo para tu puesto, redistribuir tu trabajo o lo que decida hacer de cara a tu baja maternal.</p>
        <p class="text-justify">Si no hay necesidad de hacerlo antes, en torno al cuarto o quinto mes sería el mejor momento para anunciar el embarazo en tu trabajo.</p>
    </div>
        
</body>