<html>
<head>

</head>
<%- include('./includes/head.ejs') %>
<body>
    <!--<div class="container"action="/verEstadisticas" method="POST"> -->
<div c>
    <h1>As entrado en la aplicacion : </br><%- result %>Veces</h1>    
    
</div>      

<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      
    </div>
  </div>       
        
        
<!--
 <% if (result.length > 0) { %>
            <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <tbody>
           <% for (let iteracion of result) { %>
                      <tr>
                        <th scope="row">1</th>
                        <td><%= iteracion.name %></td>
                      </tr>
                    
               
           <% } %>
        </tbody>
    </table>
   <% } else { %>
       <h1 class="text-center">No Existen visitas!</h1>
   <% } %>  
-->        
        
</body>
</html>