<html>
      <%- include('./includes/head.ejs') %>
        
    </head>
        <body>  <div class="row">
    
                <div><button class="btn btn-secondary btn-sm create__buttom pull-right"><a href="/restaurant/create">Crear Usuario</a></button></div>
        </body>
</html>
   
<!--action -> poner la ruta correcta
en el form la informacion -> se recoge con el req.body. -->