<html>
<head>

</head>
<%- include('./includes/head.ejs') %>
<body>

    <div class="container"action="/verMedicamentos" method="POST">
        <p class="text-center">MEDICAMENTOS SEGUROS</p>
        <p class="text-left"><strong>ANALGESICOS</strong><br> En caso de dolor o inflamación se recomienda el uso del Paracetamol. </p>
        <p class="text-left"><strong>DESCONGESTIONES NASALES</strong> <br> Se pueden utilizar durante los catarros porque su acción ejerce a nivel local. No deben de usarse más de 3 o 4 días seguidos ya que puede causar rinitis como efecto rebote. </p>
        <p class="text-left"><strong>PASTILLAS DE TOS</strong><br> En caso de padecer irritación en la garganta se recomienda su uso por su acción suavizante ante el picor, porque estimula el flujo de saliva y alivia la garganta.  </p>
        <p class="text-left"><strong>ANTIACIDOS</strong><br>  Para evitar la acidez de estomago se puede utilizar antiácidos siempre que sean derivados del aluminio y magnesio. </p>
       
        <hr>
        <p class="text-center">MEDICAMENTOS QUE NO SE DEBEN TOMAR</p>
        <p class="text-justify"><strong> IBUPROFENO, NAPROXENO, ASPIRINA</strong><br>Alteran el flujo sanguíneo del feto dilatando los vasos sanguíneos. Además, la aspirina es un fuerte inhibidor de la función plaquetaria, por lo que aumenta la probabilidad de hemorragias durante el embarazo y el parto.</p>
        <p class="text-justify"><strong> PARCHES DE NICOTINA</strong><br>Tienen un efecto nocivo en el bebé muy similar al de fumar cigarrillos.</p>
        <hr>
    
    
        <p class="text-center">MEDICAMENTOS PROHIBIDOS</p>
        <p class="text-justify"><strong>ANTIHIPERTENSIVOS</strong><br>Totalmente contraindicados durante el proceso de gestación al estar relacionados con defectos de nacimiento en el feto, sobre todo a nivel renal.</p>
        <p class="text-justify"><strong>ANTIDIABETICOS SECRETAGOGOS</strong><br>La embarazada deberá cambiar el tratamiento a insulina. Tomar esta clase de medicamentos puede provocar hipoglucemias que originarían alteraciones en el sistema nervioso del feto.</p>
        <p class="text-justify"><strong>ESTATINAS</strong><br>-Evitar la frAyudan a reducir los niveles de colesterol en sangre, pero durante el embarazo, la toma de estos medicamentos, se asocia a malformaciones de la tráquea, esófago, corazón y ano en el feto.</p>
        <p class="text-justify"><strong>CORTISONA</strong><br>-Caminar y hacer ejercicio físico.<br>-Beber agua e infusiones o caldos durante todo el día. Llegar a los 2 litros en total.<br> Los derivados de los corticoides pueden provocar en el feto la malformación del paladar hendido.</p>
        <p class="text-justify"><strong>ANTICONCEPTIVOS ORALES</strong><br>Aumentan el riesgo de que el bebé sufra Síndrome de Down y presente alteraciones en los genitales y las vías urinarias.</p>
        <p class="text-justify"><strong>BICARBONATO</strong><br>Produce alcalosis metabólica, es decir, un aumento del pH natural de la sangre de la madre y el bebé.</p>
    </div>
     
</body>